<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% if title %}{{ title }}{% else %}Welcome to Xero Python oauth starter{% endif %}</title>
</head>
<body>
<a href="{{ url_for('index') }}">Index</a> |
<a href="{{ url_for('login') }}">Login</a> |
<a href="{{ url_for('logout') }}">Logout</a> |
<a href="{{ url_for('tenants') }}">Tenants</a> |
<a href="{{ url_for('export_token') }}">Export Token</a> |
<a href="{{ url_for('create_contact_person') }}">Create Contact</a> |
<a href="{{ url_for('create_multiple_contacts') }}">Create Multiple Contacts</a> |
<a href="{{ url_for('get_invoices') }}">Invoices</a> |
<a href="{{ url_for('refresh_token') }}">Refresh Token</a> |
<a href="{{ url_for('create_invoice') }}">Create Invoice</a> |
<hr>
<marquee>
Connector Proxy now supports --&gt;
<a href="{{ url_for('create_invoice2') }}">Create Invoice (Xero)</a> |
<a href="{{ url_for('get_employee_salary') }}">Get Pay Rate (BambooHR)</a> |
&lt-- Join the Connector Ring now!!
</marquee>
<hr>
<a href="{{ url_for('proxy_commands') }}">Commands</a> |
<a href="{{ url_for('proxy_auths') }}">Auths</a> |
<br>
Xero:
<a href="{{ url_for('proxy_xero_oauth') }}">OAuth</a> |
<hr>
{% block content %}{% endblock %}
<!--<script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>-->
<hr>
<img src="https://cdn.vox-cdn.com/uploads/chorus_asset/file/8688491/hiE5vMs.gif" />
<br />
</body>
</html>
